<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="content">
        <h1>Hi, welcome to Rock Paper Scissors Battle!</h1>
        <p1>What are your names?</p1>
        <form method="post">
            <p2>Player 1: <input id="player1-name-textbox" type="text" name="player1"></p2>
            
            <p2>Player 2: <input id="player2-name-textbox" type="text" name="player2"></p2>

            <button id="names-submit" type="submit">Submit!</button>
        </form>
    </div>
</body>

</html>